@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 300; color: #000000; margin: 0; padding: 0; }

#page {max-width: 1440px; margin: 0 auto; position: relative;}

a.btn {font-size: 1.2em; text-decoration: none; color: #000e8c; background-color: #9cea39; padding: 6px 6px;  transition: background-color .5s; margin: 0px auto;} 

a.btn:hover {background-color: rgba(0,14,140,1.00); color: #9cea39;}


/* Text */

h2 {
	margin: 0 0 .5em 0; 
	font-size: 1.6em; 
	font-weight:700; 
	line-height: 1.1em;
	text-align: center; }

h3 {
	margin: 0 0 .5em 0; 
	font-size: 1.3em; 
	font-weight:700; 
	text-align: center; 
	padding: 30px 0px 25px 0px;
	text-decoration: none;}

h4 {
	margin: 0 0 1.5em 0; 
	font-size: 1em; 
	font-weight:700; }

p {margin: 0 0  1em 0; }

a {color: #000e8c; text-decoration: none; }
a:visited {color: #000000;}
 

/* Header */

section.head a.logo { 
	z-index: 1; 
	position: absolute; 
	display: block; 
	width: 241px; 
	height: 136px; 
	background: url(../images/logo.svg) no-repeat 0 0; 
	background-size: contain; 
	top: 0px; 
	left: 20px;
	padding: 20px;}

section.head a.logo span {
	display: none; }

section.head {
	height: 845px; 
	background: #fff url(../images/header_image.jpg) no-repeat center bottom; 
	position: relative;
	margin: 0px;
	padding: 0px;}

div.intro {
	color: #8cd233; 
	text-align: center;
	position: absolute;
	width: 100%;
	top: 390px;
	padding: 0px}

div.intro h2 {
	padding: 20px 20px 50px 20px;}

div.intro input {
	padding: 8px;
	margin:  -2px;
	border: 1px solid #9cea39;
	color: #000e8c;
	background-color: #fff;
	border-radius: 15px;}

div.intro.input submit:hover {
	background-color: rgba(236,228,45,1.00); color: #9cea39;}
	
div.intro.input submit:active {
	background-color: #000e8c;}	
	
div.intro.input text:focus {
	color: #000000;}


/* Mission Statement */

div.missionhead {
	height:150px; 
	width: 100%; 
	background: #000000; 
	text-align: center; 
	margin: 10px auto;
	padding-top: 20px;
	position: relative;}

div.missionhead h3 {
	color: #8cd233;
	background-color: #fff; 
	width: 80%; 
	margin: 0px auto;
	padding: 10px;}

div.missionhead h4 {
	color: #9B9B9B; 
	background-color: #fff;  
	width: 80%;
	margin: 0px auto; 
	padding: 10px;}

p {
	background-color: #fff;  
	width: 80%; 
	margin: 0px auto;
	padding: 15px 10px;}
	

/* Section How it works */

section.howitworks {
	width: 100%;
	height: 300px;
	text-align: center;}

div.content {
	text-align: center; 
	width: 18%; 
	height: 100px; 
	padding: 10px; 
	float: left;}
    

/* Categories */  /*essentially same as how-it-works///seperate the first 4 row with the second 5 row */

section.categoryone {	
	width: 100%;
	height: 400px;
	margin: auto;}

div.column.top {
	float: left; 
	width: 18%; 
	padding: 20px 10px;}

div.column.top.arch {
	padding-left: 160px;}

div.column.top.fashion {
	padding-right: 160px;}

div.toprow::after {
 	 content: "";
	 clear: both;
 	 display: table;}

section.categorytwo {	
	width: 90%;
	height: 270px;
	margin: 0px auto;}

div.column.bottom {
	float: left; width: 18%; 
	padding: 20px 10px;}

div.bottomrow::after {
	content: "";
  	clear: both;
  	display: table;}

div.column.bottom.newborn {
	padding-left: 10px;}

div.column.bottom.wed {
	padding-right: 10px;}


/* Reviews */

section.reviews {
	width: 100%; 
	padding: 10px; 
	margin: 10px;}

div.quote {
	background-color: #000e8c;
	width: 45%;
	height: 200px;
	text-align: left;
	border-radius: 50px;
	padding: 5px;
	margin: 5px;}

blockquote {
	border-radius: 40px; 
	background-color: #fff;
	margin-top: 20px;
	padding: 5px;
	height: 150px;}

blockquote::before {
	content:'\201c'; 
	color: #ece42d; 
	position: absolute; 
	font-size: 5em; 
	font-family: serif; }

blockquote p.quote::after {
	content:'\201d'; 
	font-family: serif;}

blockquote p.credit::before {
	content:'\2014'; 
	position: absolute; 
	left: 87px; }

p.quote {
	width: 67%; 
	padding-right: 170px; 
	padding-left: 40px;
	background: transparent;}

div.quote.one {
	margin-bottom: 80px;}

div.quote.two {
	position:absolute; 
	left: 775px; 
	top: 2150px;}

div.user.one img {
	height: 130px; 
	width: 130px;
	border-radius: 50px;
	float: right;
	position: relative;
	top: -122px;
	padding-right: 20px;}

div.user.two img {
	height: 130px; 
	width: 130px;
	border-radius: 50px;
	float: right;
	position: relative;
	top: -110px;
	padding-right: 20px;}

div.user.three img {
	height: 130px; 
	width: 130px;
	border-radius: 50px;
	float: right;
	position: relative;
	top: -105px;
	padding-right: 20px;}

div.user img {clear: both;}

      /*   fix the viewmore button--it wont align center    */
div.view.more {
	width: 100%;
	padding: 25px;
	margin: 10px;}

a.btn.review {
	text-align: center; 
	padding: 6px 10px;
	margin: 25px;}

/* Get Started Footer Image */

section.get.started {
	background: #fff url(../images/footer_image.jpg) no-repeat center; 
	width: 1440px; 
	height: 762px;
	position: relative;
	text-align: center;}


section.get.started h2 {
	color: #000e8c; 
	width: 80%; 
	margin: 20px auto;
	padding: 10px;
	padding-bottom: 5px;}

div.book.today {position: relative; top: 250px; text-align: center;}

div.start {padding: 50px 10px 10px 10px; color: #000e8c; }



/* Navigation */
/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

nav {
	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 115px 0px 0px 0px;
	width: 100%;}

nav::after {
	content:''; 
	display: block; 
	clear: both;}

nav ul {
	list-style: none; 
	margin: 0px 0px; 
	padding: 0px;}

nav ul li h4 {
	color: #8cd233; 
	padding: 0px; 
	margin: 0px; 
	text-decoration: none;  
	width: 100%;
	text-align: center;}  

nav ul li:hover {
	background-color: #ECE42D;}
 
nav ul li:hover > ul {
	display:block;}
 
nav ul li a { 
	display: inline-block; 
	color: #8cd233; 
	padding: 10px 20px; 
	text-decoration: none; 
	width: 150px; 
	position: relative;}

nav ul li a:visited { 
	color: #ece42d; }

nav ul li a:hover { 
	background-color: #000e8c;}
 
nav ul ul {
	position: absolute; 
	top: 100%; 
	background-color: #000000; 
	display: none; }
 
nav ul ul li {
	position: relative; }


/* Main Top Navigation */

 
nav div.top.nav > ul {
	padding-left: 450px; }

nav div.top.nav > ul > li {
	float: left;}

nav > ul > li > a {
	width: auto; 
	padding: 10px 20px 15px 20px;}

/*adjust the -top- to text*/
nav a[aria-haspopup="true"]::after {
	content: ''; 
	display: block; 
	width: 0px 0px; 
	position: absolute; 
	top: 19px; 
	right: 15px; 
	border-top: 5px solid #8cd233; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; }

 



/* Navigation Buttons */

div.buttons {
	position: absolute;
	right: 10px;
	top: 30px;}

a.btn.log {
	margin: 0px 5px;}

a.btn.sign {
	margin: 0px 5px;} 



/* Footer */ /* Do basically the same thing as how-it-works section */

section.footer {
	background-color: #000000; 
	color: #fff; 
	width: 100%; 
	height: 400px;}

section.footer h4 {
	color: #8cd233; 
	margin: 5px; 
	padding: 15px; 
	width: 50%;} 

section.footer p {
	background-color: transparent; 
	padding: 0px; 
	margin:0px;
	margin-left: 5px; 
	padding-left: 15px;}

section.footer a {
	color: #fff; 
	text-decoration: none;}

section.footer a:hover {
	color: #ece42d; 
	text-decoration: underline;}

div.foot {
	width: 15%; 
	text-align: left; } 

div.foot.categories.one {
	position: absolute; 
	left: 15px;
	top: 3430px;}

div.foot.categories.two {
	position: absolute; 
	left: 235px;
	top: 3491px;}

div.foot.about{
	position: absolute; 
	left: 495px;
	top: 3430px;}

div.foot.support{
	position: absolute; 
	right: 475px;
	top: 3430px;}

div.foot.follow.us{
	position: absolute;
	right: 200px;
	top: 3430px;}

div.foot.copy {
	color: #ece42d;
	position: absolute;
	right: 15px;
	bottom: 190px;}

div.divider {
	position: absolute;}

div.divider.one {
	left: 460px;
	bottom: 20px;}

div.divider.two {
	left: 710px;
	bottom: 20px;}

div.divider.three {
	right: 460px;
	bottom: 20px;}

div.divider.four {
	right: 270px;
	bottom: 20px;}


